{
  "plugins": [
    "prettier-plugin-svelte",
    "@4az/prettier-plugin-html-erb",
    "@prettier/plugin-ruby"
  ],
  "bracketSameLine": true,
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5"
}