---
http_interactions:
- request:
    method: post
    uri: https://api.telegram.org/bottelegram-test-bot-token/sendMessage
    body:
      encoding: UTF-8
      string: '{"chat_id":12345,"text":"Test notification from Research Assistant.\n\nIf
        you see this, Telegram notifications are working!","parse_mode":"HTML"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ok":false,"error_code":400,"description":"Bad Request: chat not found"}'
  recorded_at: Sun, 03 May 2026 11:39:34 GMT
[...]
- request:
    method: post
    uri: https://api.telegram.org/bottelegram-test-bot-token/sendMessage
    body:
      encoding: UTF-8
      string: '{"chat_id":12345,"text":"Test notification from Research Assistant.\n\nIf
        you see this, Telegram notifications are working!","parse_mode":"HTML"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ok":false,"error_code":404,"description":"Not Found"}'
  recorded_at: Sun, 03 May 2026 11:51:50 GMT
recorded_with: VCR 6.3.1
