---
http_interactions:
- request:
    method: post
    uri: https://api.telegram.org/bottelegram-test-bot-token/setWebhook
    body:
      encoding: UTF-8
      string: '{"url":"/telegram/webhook/telegram-webhook-token","allowed_updates":["message"],"secret_token":"telegram-webhook-secret"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ok":false,"error_code":400,"description":"Bad Request: invalid webhook
        URL specified"}'
  recorded_at: Sun, 03 May 2026 11:39:36 GMT
- request:
    method: post
    uri: https://api.telegram.org/bottelegram-test-bot-token/getWebhookInfo
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ok":true,"result":{"url":"","has_custom_certificate":false,"pending_update_count":0,"allowed_updates":["message"]}}'
  recorded_at: Sun, 03 May 2026 11:39:36 GMT
[...]
- request:
    method: post
    uri: https://api.telegram.org/bottelegram-test-bot-token/setWebhook
    body:
      encoding: UTF-8
      string: '{"url":"/telegram/webhook/telegram-webhook-token","allowed_updates":["message"],"secret_token":"telegram-webhook-secret"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ok":false,"error_code":404,"description":"Not Found"}'
  recorded_at: Sun, 03 May 2026 11:51:48 GMT
recorded_with: VCR 6.3.1
